
@font-face {
	font-family: "bee_01" ;
	src: url('police/poppins.ttf');
}
@font-face {
	font-family: "bee_02" ;
	src: url('police/Abel-Regular.ttf');
}
@font-face {
	font-family: "bee_03" ;
	src: url('police/Oswald-Regular.ttf');
}
@font-face {
	font-family: "bee_04" ;
	src: url('police/Roboto-Regular.ttf');
}
@font-face {
	font-family: "bee_05" ;
	src: url('police/DS-DIGI.TTF');
}
@font-face {
	font-family: "bee_06" ;
	src: url('police/gomarice_round_pop.ttf');
}
@font-face {
	font-family: "bee_07" ;
	src: url('police/Poppins-Light.ttf');
}
@font-face {
	font-family: "bee_08" ;
	src: url('police/Montserrat-Light.otf');
}