@charset "utf-8";
/* CSS Document */

/*********************************************** les formulaire *****************************************************************/
.bton_deg_1 {
	background-color: #21759b;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
	background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
	background-image: linear-gradient(180deg,#2a95c5,#21759b);
	border-bottom-color: #1e6a8d;
	border-color: #21759b;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5);
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5);
}

.btnstorfish {
	background-color: #00a5fa;
	border: tan;
	color: aliceblue;
	height: 35px;
	width: 110px;
	font-size: 16px;
	cursor: pointer;
}
.btnstorfish_red {
	background-color: #fa0000;
}
.btnstorfish:hover {
	background-color: #0777b1;
}
.bton{
	width:150px;
	background-color:rgba(173,119,120,1.00);
	border-color:transparent;
	color:rgba(255,253,253,1.00);
	font-weight:bolder;
	cursor:pointer;
	padding:6px;
}
.bton:hover{
	background-color:rgb(137, 71, 72);
	color:rgba(220,192,193,1.00);
}
.bton_2 {
	padding: 0.5rem 1rem;
	border-radius: 0.1875rem;
	background: #42b4d6;
	color: #fff;
	border: 0;
	line-height: 1.5;
	font-size: 1rem;
}
.bton_3 {
	background-color: #21759b;
	box-shadow: inset 0 1px 0 rgba(120,200,230,.5);
}
.bton_4 {
	background: #f7f7f7;
	border-color: #ccc;
	-webkit-box-shadow: 0 1px 0 #ccc;
	box-shadow: 0 1px 0 #ccc;
	color: #555;
}
.bton_5 {
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
.bton_6 {
	display: inline-block;
	height: 53px;
	border-color: #298fb7;
	background-color: #00bff3;
	padding-top: 12px;
	font-weight: 500;
}
.bton_7 {
	font-weight: 500;
	border-radius: 4px;
	line-height: 1.4em;
	padding: 9px 13px;
	transition: all .2s linear;
	font-size: 18px;
	border: 0 solid transparent;
	color: #1a86f9;
	box-shadow: 0 1px 3px rgba(0,0,0,.12);
	background: #f4f6f9;
	letter-spacing: -.01em;
}
.btn8 {
	text-transform: uppercase;
	color: #fff;
	background-color: #008aff !important;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,.1) , 0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 2px 1px rgba(0,0,0,.1) , 0 1px 3px rgba(0,0,0,.3);
	font-size: 15px;
	line-height: 20px;
	padding: 11px 22px;
	margin: 5px 0;
	position: relative;
	border-radius: 3px;
	border: none;
	-webkit-transition: background-color .3s , color .3s , -webkit-box-shadow .3s;
	transition: background-color .3s , color .3s , -webkit-box-shadow .3s;
	transition: background-color .3s , box-shadow .3s , color .3s;
	transition: background-color .3s , box-shadow .3s , color .3s , -webkit-box-shadow .3s;
	-webkit-tap-highlight-color: transparent;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
/*------------------------------------------------*/

.input_tex_storfish {
	border: transparent;
	padding: 0 !important;
	height: 37px;
	background-color: #fff;
	padding: 0 7px !important;
}
.input_text_storfish_2:hover,.input_text_storfish_2:focus {
	border-color: #00a5fa;
}
.input_tex_1 {
	width: 300px;
	height: 25px;
	margin-bottom: 1em;
	border-color: transparent;
	color: rgba(35,1,1,1.00);
	font-weight: bolder;
	font-family: averia-sans-libre;
	background-color: rgb(246, 238, 238);
	border: solid thin RGBA(108, 26, 26, 0.17);
	background-color: rgba(255, 255, 255, 0.01);
	color: aliceblue;
	border-bottom: solid thin #300505 !important;
	padding: 5px 2px 0px 5px;
	border-right: solid thin #300505;
}
.input_tex_2 {
	box-shadow: none;
	border: 1px solid rgba(255,255,255,0);
	background: rgba(255,255,255,.25);
	color: white;
	padding: 3px 5px;
	font-size: 15px;
	line-height: 1.8;
	border-radius: 5px;
}
.input_area {
	width: 400px;
	height: 55px;
	margin-bottom: 1em;
	border-color: transparent;
	color: rgba(35,1,1,1.00);
	font-weight: bolder;
	font-family: averia-sans-libre;
	background-color: rgb(240, 234, 233);
	border: solid thin RGB(108, 26, 26);
}
/************************************************focus*****************************************/

.input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/***************************************************border***************************************/

.input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
	 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	 transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}
