@font-face {
	font-family: "Tams_1" ;
	src: url('police/AbrilFatface-Regular.ttf');
}
@font-face {
	font-family: "Tams_2" ;
	src: url('police/Anton-Regular.ttf');
}
@font-face {
	font-family: "Tams_3" ;
	src: url('police/Oswald-Regular.ttf');
}
@font-face {
	font-family: "Tams_4" ;
	src: url('police/Roboto-Regular.ttf');
}
@font-face {
	font-family: "Tams_5" ;
	src: url('police/DS-DIGI.TTF');
}
@font-face {
	font-family: "bee_1" ;
	src: url('poppins.ttf');
}
